body {
  font-family: system-ui;
  background: #ffffff;
  color: black;
  text-align: center;
}
p {
  font-size: 50px;
  color: cyan;
}

h1 {
  font-size: 60px;
  }
#fig-caption {
  margin: 10, 10px, auto;
  font-size: 19px;
}
#image {
  height: 450px;
  width: 300px;
}
ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}
li {
  margin: 10px;
}